/* 
Pierre Munin 1106420
Claire Gizard 1106363
 */
 page-welcome {
    .swiper-pagination-bullet-active {
        background: white;
    }

    bg-image {
        background-color: red;
        background-image: url('../assets/imgs/s1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }

    .padding {
        padding-bottom: 100px;
    }
}
